<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kakao.ad.tracker.sample">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.kakao.ad.tracker.sample.TrackerSampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- 앱 설치 이벤트 추가 시, 아래 <receiver></receiver> 내용을 추가한다. -->
        <receiver
            android:name="com.kakao.ad.tracker.KakaoAdInstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER">
                </action>
            </intent-filter>

            <!-- 기존에 사용하던 Reveicer가 있고, 이벤트를 전달하고 경우 -->

            <!-- 내부에 클래스를 두고, 해당 클래스를 android:value에 지정하거나,-->
            <!--<meta-data android:name="forwardReceiver" android:value="com.kakao.ad.tracker.sample.InstallReferrerReceiver"></meta-data>-->

            <!-- 기존에 사용 중인 클래스를 android:value에 지정한다. -->
            <!--<meta-data android:name="thirdPartyReceiver" android:value="com.third.party.InstallReferrerReceiver"></meta-data>-->
        </receiver>

    </application>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.BILLING"/>
</manifest>
