<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kakao.ad.tracker.sample">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Track ID 정보 추가 -->
        <meta-data
            android:name="com.kakao.ad.tracker.TRACK_ID"
            android:value="@string/kakao_ad_track_id" />

        <activity android:name=".MainSampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BillingLibTestActivity" />

        <activity android:name=".BillingAidlTestActivity" />

        <!-- "com.android.vending.INSTALL_REFERRER" 수신을 위한 BroadcastReceiver 추가 -->
        <!-- "KakaoAdInstallReferrerReceiver"를 BroadcastReceiver 중 가장 먼저 추가!!! -->
        <receiver
            android:name="com.kakao.ad.tracker.KakaoAdInstallReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>

            <!-- "com.android.vending.INSTALL_REFERRER"를 수신할 BroadcastReceiver 추가 -->
            <meta-data
                android:name="receiver1"
                android:value="com.kakao.ad.tracker.sample.InstallReferrerReceiver1" />

            <!-- "com.android.vending.INSTALL_REFERRER"를 수신할 BroadcastReceiver 추가 -->
            <meta-data
                android:name="receiver2"
                android:value="com.kakao.ad.tracker.sample.InstallReferrerReceiver2" />
        </receiver>

        <!-- 샘플 BroadcastReceiver :: 추가하지 않아도 "KakaoAdInstallReferrerReceiver"에 의해 이벤트 전달됨 -->
        <!--<receiver-->
            <!--android:name=".InstallReferrerReceiver1"-->
            <!--android:enabled="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.android.vending.INSTALL_REFERRER" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!-- 샘플 BroadcastReceiver :: 추가가 필요하다면 "KakaoAdInstallReferrerReceiver" 추가한 다음 추가해야 함!!! -->
        <receiver
            android:name=".InstallReferrerReceiver2"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>